
  .carousel {
    width: 600px;
  }
  .swiper {
    width: 100%;
  }
  .swiper-pagination-bullet,
  .swiper-pagination-bullet-active {
    background: #fff;
  }
  .swiper-pagination {
    bottom: 34px !important;
    transform: scale(1.3);
  }
  .swiper-slide {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding: 0 0 80px;
    filter: grayscale(0.6);
  }
  .swiper-slide div {
    transition: 0.25s;
    opacity: 0;
  }
  .swiper-slide-active div {
    opacity: 1;
  }
  .swiper-3d .swiper-slide-shadow-left,
  .swiper-3d .swiper-slide-shadow-right {
    background-image: none;
  }